<body alink='"'><body>
</body>
    @{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>

<!-- content test för depukking -->


<p>
    @Html.Raw(ViewBag.Context)
    </p>

<p>@Html.Raw(ViewBag.Achievement)</p>

    
    <br />
    @Html.Raw(ViewBag.Clue)

    <br /><br />

   
    @Html.Raw(ViewBag.Badges)

    <br /><br />
    <br /><br />
    @Html.Raw(ViewBag.Quitter)




