@{
    ViewBag.Title = "Home Page";
}

<h2>@ViewBag.Message</h2>
<br />@ViewBag.header
<p>
    To learn more about ASP.NET MVC visit <a href="http://asp.net/mvc" title="ASP.NET MVC Website">http://asp.net/mvc</a>.
</p>


<!-- content test för depukking -->



<h2>Seuraava rasti:</h2> 
<br />
@Html.Raw(ViewBag.Clue)



<p>
    @Html.Raw(ViewBag.Context)
    </p>

<p>@Html.Raw(ViewBag.Achievement)</p>
